@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .profile-card {
    @apply bg-blue-200 shadow-lg rounded-full overflow-hidden w-28 h-28;
  }

  .profile-card-small {
    @apply bg-blue-200 shadow-lg rounded-full overflow-hidden w-10 h-10;
  }

  .buttonNav {
    @apply hover:bg-slate-customMediumAccent px-4 py-2 rounded-md hover:translate-x-4 duration-500 cursor-pointer  text-xl text-slate-400 items-center flex w-[84%];
  }

  .stat-card {
    @apply bg-slate-customMediumLight border-2 border-slate-customMediumAccent w-[25%] h-full rounded-lg px-4 py-2 flex flex-col justify-center;
  }
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl;
}

p {
  font-size: medium;
}

a {
  font-size: medium;
}
